@model List<BoublikSystem.Entities.Product>
@{    ViewBag.Title = "ShowProducts";
}

<h2>Список продуктов</h2>

<p>
    @*@Html.ActionLink("Create New", "CreateNewProduct")*@
    @using (Html.BeginForm("CreateNewProduct", "Cook", FormMethod.Get))
    {
        <input type="submit" value="Новый продукт">
    }


</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Название
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Цена
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MeasurePoint)*@
            Мера измерения
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasurePoint)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditProduct", new { id=item.Id }) |
            @Html.ActionLink("Детали", "ProductDetails", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "DeleteProduct", new { id=item.Id })
        </td>
    </tr>
}

</table>
